.WeatherForecast {
  text-align: center;
  color: #fafdfb;
  margin: 20px;
}

.WeatherForecast canvas {
  padding: 5px;
}

.WeatherForecast .temperature-min {
  opacity: 0.5;
  margin-right: 5px;
  font-weight: 500;
  font-size: 18px;
}

.WeatherForecast .temperature-max {
  font-weight: 500;
  font-size: 18px;
}

.WeatherForecast .weatherForecast-day {
  font-size: 18px;
  font-weight: 500;
}
